<div id="load-screen">
	<div id="loader" class="absolute-center">
		<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 640 640" enable-background="new 0 0 640 640" xml:space="preserve">
		<path class="triangle" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M85,497 83.405,497 319.521,88.035 555.639,497 85,497 "/>
		<path class="triangle-bones1" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 83.405,497 L 460.953,333"/>
		<path class="triangle-bones2" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 555.639,497 L 178.091,333"/>
		<path class="triangle-bones3" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 319.521,88.035 L 320,497"/>
		<path class="triangle-inverted1" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 320,497 L 178.091,333"/>
		<path class="triangle-inverted2" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 460.953,333 L 320,497"/>
		<path class="triangle-inverted3" fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" d="M 178,333 L 461,333"/>
		</svg>
	</div>
</div>
<button type="button" class="tcon tcon-menu--xcross" aria-label="toggle menu">
	<span class="tcon-menu__lines" aria-hidden="true"></span>
	<span class="tcon-visuallyhidden">toggle menu</span>
</button>
<header>
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<a href="{{site.github.url}}"><img src="{{"/images/logo1-vernando-simbolon.png" | prepend: site.github.url}}" class="img-responsive" alt="Vernando Simbolon"></a>
				</div>
			</div>
		</div>
	</div>
</header>
<nav id="main-nav">
	<div class="absolute-center">
		<ul class="main-menu">
			<li><a class="fx-link-side" href="{{site.github.url}}">HOME</a></li>
			<li><a class="fx-link-side" href="{{"/coming-soon.html" | prepend: site.github.url}}">ABOUT</a></li>
			<li><a class="fx-link-side" target="_blank" href="https://id.linkedin.com/in/vernandosimbolon">PORTFOLIO</a></li>
			<li><a class="fx-link-side" href="{{"/coming-soon.html" | prepend: site.github.url}}">BLOG</a></li>
			<li><a class="fx-link-side" href="{{"/contact.html" | prepend: site.github.url}}">CONTACT</a></li>
		</ul>
	</div>
</nav>