<!DOCTYPE html>
<html>

	{% include head.html %}

	<body>

		{% include header.html %}

		<div id="main-content">
			{{ content }}
		</div>
		<a title="CSSREEL - Nominee" target="_blank" href="http://cssreel.com/Website/vernando-simbolon" style="background: url('{{site.url}}/images/cssreelnominee.png') no-repeat center right; background-size: 100%; text-indent: -9999px; z-index: 17; display: block; position: fixed; top: 205px; width: 88px; right: 0px; height: 29px;">CSSREEL</a>	
		<a title="Boostlizer - Booster of the day" target="_blank" href="http://boostlizer.com/list/tlcx7vtx/vernando-simbolon" style="background: url('http://assets.boostlizer.com/badges/booster/boostlizer-ribbon-dark-right.png') no-repeat center right; background-size: 100%; text-indent: -9999px; z-index: 17; display: block; position: fixed; top: 290px; width: 88px; right: 0px; height: 40px;">Boostlizer</a>
		<a title="Best CSS Award - Nominee" target="_blank" href="http://www.bestcssaward.com/portfolio/vernando-simbolon/" style="width:70px;height:73px;position:fixed;top:390px;right:0px;z-index:17;text-indent:-9999px;background:url(http://www.bestcssaward.com/ribbons/nominee-black.png) no-repeat;">Best CSS Award</a>
		{% include script.html %}
	</body>

</html>
