---
const currentYear = new Date().getFullYear();
---
<footer class="fixed bottom-0 left-0 z-10 grid w-full grid-cols-1 lg:grid-cols-2 lg:px-5 lg:pb-4">
  <div class="flex items-end">
    <p class="text-right text-sm font-semibold uppercase tracking-tighter text-neutral-700 motion-translate-y-in-[5px] motion-opacity-in-0 motion-delay-1000 [writing-mode:vertical-lr] lg:text-left lg:text-sm lg:[writing-mode:lr]">&copy; { currentYear } Vernando Simbolon</p>
  </div>
  <div class="flex items-end lg:justify-end">
    <p class="ml-4 text-right text-sm font-semibold uppercase tracking-tighter text-neutral-700 md:mr-7 lg:mx-0 lg:text-sm">
      <a href="https://github.com/Vernando05" target="_blank">github</a>&nbsp;
      <a href="https://www.linkedin.com/in/vernandosimbolon/" target="_blank">linkedin</a>&nbsp;
      Available for work
    </p>
  </div>
</footer>
