---
import Navigation from './Navigation.astro';
import Timezone from './Timezone';

const links = [
  {
    title: 'Work',
    url: '/work',
  },
  {
    title: 'About',
    url: '/about',
  },
  {
    title: 'Contact',
    url: '/contact',
  },
];
---
<header class="fixed left-0 top-0 z-40 grid w-full grid-cols-[auto_1fr_auto] items-center lg:px-5 lg:pt-5 xl:grid-cols-[0.5fr_1fr_0.5fr] 2xl:grid-cols-3">
  <div class="justify-items-center">
    <a href="/" class="ml-3 mt-3 inline-block text-sm font-semibold uppercase -motion-translate-y-in-[5px] motion-opacity-in-0 motion-delay-1000 lg:static lg:mt-0" data-astro-reload>
      <img class="mx-auto inline-block size-10 bg-gradient-to-tr from-black to-neutral-500 p-1 md:mr-2 lg:size-6" src="/svg/logo-vernando-simbolon.svg" alt="logo vernando simbolon" />
    </a>
    <!-- <h2 class="absolute top-0 mt-1 text-nowrap tracking-tighter -motion-translate-y-in-[5px] motion-opacity-in-0 motion-delay-1000 [transform:translateZ(1px)] [writing-mode:sideways-rl] lg:static lg:col-span-1 lg:mt-0 lg:text-2xl lg:font-semibold lg:tracking-normal lg:[writing-mode:lr]"> </h2> -->
  </div>
  <div class="absolute right-0 top-0 lg:relative">
    <Navigation
      links={links}
      className="text-center -motion-translate-y-in-[5px] motion-opacity-in-0 motion-delay-1000 [writing-mode:sideways-lr] lg:mt-0 lg:block lg:[writing-mode:lr]"
    />
  </div>
  <div class="text-right">
    <p class="absolute right-[33px] top-1 ml-2 inline-block text-xs font-semibold tracking-tighter text-neutral-700 motion-translate-y-in-[5px] motion-opacity-in-0 motion-delay-1000 md:text-sm lg:static lg:h-auto lg:text-sm">
      YOGYAKARTA |
      <Timezone
        tz="Asia/Jakarta"
        dateFormat="hh:mm a"
        client:only="true"
      />
      GMT+7
    </p>
  </div>
</header>
